BODY {
	FONT-FAMILY: 'Lucida Grande',Geneva,Arial,Helvetica,sans-serif
}
TD {
	FONT-FAMILY: 'Lucida Grande',Geneva,Arial,Helvetica,sans-serif
}
UL {
	FONT-FAMILY: 'Lucida Grande',Geneva,Arial,Helvetica,sans-serif
}
OL {
	FONT-FAMILY: 'Lucida Grande',Geneva,Arial,Helvetica,sans-serif
}
LI {
	FONT-FAMILY: 'Lucida Grande',Geneva,Arial,Helvetica,sans-serif
}
H1 {
	FONT-FAMILY: 'Lucida Grande',Geneva,Arial,Helvetica,sans-serif
}
H2 {
	FONT-FAMILY: 'Lucida Grande',Geneva,Arial,Helvetica,sans-serif
}
H3 {
	FONT-FAMILY: 'Lucida Grande',Geneva,Arial,Helvetica,sans-serif
}
H4 {
	FONT-FAMILY: 'Lucida Grande',Geneva,Arial,Helvetica,sans-serif
}
H5 {
	FONT-FAMILY: 'Lucida Grande',Geneva,Arial,Helvetica,sans-serif
}
H6 {
	FONT-FAMILY: 'Lucida Grande',Geneva,Arial,Helvetica,sans-serif
}
P {
	FONT-FAMILY: 'Lucida Grande',Geneva,Arial,Helvetica,sans-serif
}
DIV {
	FONT-FAMILY: 'Lucida Grande',Geneva,Arial,Helvetica,sans-serif
}
DL {
	FONT-FAMILY: 'Lucida Grande',Geneva,Arial,Helvetica,sans-serif
}
DT {
	FONT-FAMILY: 'Lucida Grande',Geneva,Arial,Helvetica,sans-serif
}
DD {
	FONT-FAMILY: 'Lucida Grande',Geneva,Arial,Helvetica,sans-serif
}
I {
	FONT-FAMILY: 'Lucida Grande',Geneva,Arial,Helvetica,sans-serif
}
B {
	FONT-FAMILY: 'Lucida Grande',Geneva,Arial,Helvetica,sans-serif
}
STRONG {
	FONT-FAMILY: 'Lucida Grande',Geneva,Arial,Helvetica,sans-serif
}
EM {
	FONT-FAMILY: 'Lucida Grande',Geneva,Arial,Helvetica,sans-serif
}
H1 {
	COLOR: #330066
}
H2 {
	COLOR: #330066
}
H3 {
	COLOR: #330066
}
H4 {
	COLOR: #330066
}
H5 {
	COLOR: #330066
}
H6 {
	COLOR: #330066
}
STRONG {
	COLOR: #330066
}
B {
	COLOR: #330066
}
INPUT {
	FONT-FAMILY: 'New Times Roman'
}
.plusOne {
	FONT-SIZE: 110%
}
.minusOne {
	FONT-SIZE: 82%
}
.minusTwo {
	FONT-SIZE: 65%
}
.regular {
	FONT-SIZE: 100%
}
.special {
	FONT-SIZE: 90%
}
.star {
	COLOR: #0033ff
}
.pborder {
	BORDER-RIGHT: #660099 thin solid; BORDER-TOP: #660099 thin solid; FONT-SIZE: 82%; BORDER-LEFT: #660099 thin solid; BORDER-BOTTOM: #660099 thin solid
}
.gborder {
	BORDER-RIGHT: #ffcc66 thin solid; BORDER-TOP: #ffcc66 thin solid; FONT-SIZE: 82%; BORDER-LEFT: #ffcc66 thin solid; BORDER-BOTTOM: #ffcc66 thin solid
}
.bborder {
	BORDER-RIGHT: #9999cc thin solid; BORDER-TOP: #9999cc thin solid; FONT-SIZE: 82%; BORDER-LEFT: #9999cc thin solid; BORDER-BOTTOM: #9999cc thin solid
}
.rborder {
	BORDER-RIGHT: #ff3300 thin solid; PADDING-RIGHT: 5px; BORDER-TOP: #ff3300 thin solid; PADDING-LEFT: 5px; FONT-SIZE: 100%; PADDING-BOTTOM: 5px; BORDER-LEFT: #ff3300 thin solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ff3300 thin solid; BACKGROUND-COLOR: #ffffcc
}
#skiptext A {
	COLOR: red
}
.golocal {
	BORDER-RIGHT: #9999cc thin solid; BORDER-TOP: #9999cc thin solid; FONT-SIZE: 82%; BORDER-LEFT: #9999cc thin solid; BORDER-BOTTOM: #9999cc thin solid; BACKGROUND-COLOR: #eef3f5
}
.golocal FORM {
	WIDTH: 220px
}
.golocal IMG {
	MARGIN: 5px 0px
}
.golocal SELECT {
	WIDTH: 180px
}
A:hover {
	COLOR: red
}
#pageContents A:visited {
	COLOR: #660099
}
#pageContents A:hover {
	COLOR: red
}
.a2zlist TD {
	FONT-SIZE: 0.83em; VERTICAL-ALIGN: top
}
#orgByTopic {
	FONT-SIZE: 0.83em
}
#orgByTopic UL {
	PADDING-LEFT: 0px; MARGIN: 0px; LIST-STYLE-TYPE: none
}
#orgByTopic UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; COLOR: #330066; PADDING-TOP: 20px
}
#orgByTopic UL UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 40px; PADDING-BOTTOM: 0px; PADDING-TOP: 20px; LIST-STYLE-TYPE: disc
}
#orgByTopic UL UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#orgByTopic UL LI UL {
	FONT-WEIGHT: normal; COLOR: #000
}
#orgByTopic UL LI UL LI {
	FONT-WEIGHT: normal; COLOR: #000
}
UL.topicGroup {
	LIST-STYLE-POSITION: outside; COLOR: #330066; LIST-STYLE-TYPE: disc
}
UL.topic {
	FONT-SIZE: 82%
}
UL.topic STRONG {
	FONT-SIZE: 100%
}
LI.title {
	LIST-STYLE-POSITION: outside; LIST-STYLE-TYPE: none
}
LI.titleminusOne {
	LIST-STYLE-POSITION: outside; FONT-SIZE: 82%; LIST-STYLE-TYPE: none
}
SPAN.linkField {
	FONT-WEIGHT: bold; FONT-SIZE: 82%
}
EM.requiredField {
	FONT-WEIGHT: bold; FONT-SIZE: 82%; COLOR: red
}
EM.optionalField {
	FONT-WEIGHT: normal; FONT-SIZE: 82%; COLOR: black
}
DIV.errMsgBox {
	BORDER-RIGHT: #ff3300 2px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ff3300 2px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: #ff3300 2px solid; WIDTH: 90%; PADDING-TOP: 5px; BORDER-BOTTOM: #ff3300 2px solid; BACKGROUND-COLOR: #ffffcc
}
DIV.errMsgRow {
	CLEAR: both
}
DIV.spacer {
	CLEAR: both
}
DIV.errMsgRow SPAN.label {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 5px; BORDER-TOP: medium none; MARGIN-TOP: 3px; FONT-SIZE: 82%; FLOAT: left; VERTICAL-ALIGN: bottom; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; TEXT-ALIGN: left
}
.footer {
	MARGIN: 20px 0px 10px; WIDTH: 100%
}
.mainFooter TD {
	FONT-SIZE: 83%
}
.footer TD {
	FONT-SIZE: 72%
}
.tabLinks {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.footBody TD {
	PADDING-RIGHT: 1px; BORDER-TOP: #330066 3px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #330066 1px solid; BACKGROUND-COLOR: #fffaea
}
.updated {
	VERTICAL-ALIGN: bottom; TEXT-ALIGN: right
}
.disclaimer {
	FONT-SIZE: 65%
}
.copyright {
	FONT-SIZE: 65%; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.return {
	FONT-SIZE: 0.83em; MARGIN-LEFT: 15px
}
#newsBy UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 83%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#iToolsList UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 83%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#newsBy UL LI {
	MARGIN-TOP: 10px; LIST-STYLE-TYPE: none
}
#iToolsList UL LI {
	MARGIN-TOP: 10px; LIST-STYLE-TYPE: none
}
#newsBy UL LI H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1.1em; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 0px
}
#newsBy UL UL {
	FONT-SIZE: 100%; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 30px
}
#iToolsList UL UL {
	FONT-SIZE: 100%; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 30px
}
#newsBy UL LI LI {
	MARGIN-TOP: 0px
}
#iToolsList UL LI LI {
	MARGIN-TOP: 0px
}
#newsBy UL UL UL LI {
	MARGIN-TOP: 0px; LIST-STYLE-TYPE: disc
}
#iToolsList UL UL UL LI {
	MARGIN-TOP: 0px; LIST-STYLE-TYPE: disc
}
.alistwrapper {
	BORDER-TOP: #fff 1px solid
}
#content .alistwrapper UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.alistwrapper LI {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0em; PADDING-BOTTOM: 0em; PADDING-TOP: 0em; BORDER-BOTTOM: #fff 0px solid
}
.alistwrapper LI.divider {
	PADDING-BOTTOM: 0em
}
.blurb {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em; COLOR: #306; POSITION: relative; TOP: -1.3em
}
H5.menutitle {
	MARGIN: 6px 0px 2px
}
.alist {
	PADDING-RIGHT: 3px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 3px; BACKGROUND: #e8eff5; PADDING-BOTTOM: 3px; MARGIN: 0px 0px 1.5em; PADDING-TOP: 3px; BORDER-BOTTOM: #000 1px solid
}
.alist UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.alist LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 83%; PADDING-BOTTOM: 0px; MARGIN: 4px 0px; PADDING-TOP: 0px
}
.alist LI.last {
	MARGIN-LEFT: 15px
}
.alist LI A {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.bodymaps {
	CLEAR: both; MARGIN-LEFT: auto; ; WIDTH: expression(document.body.clientWidth < 780 ? "780px" : "100%" ); MARGIN-RIGHT: auto; min-width: 780px; max-width: 1024px
}
