BODY {
	FONT-SIZE: 76%; MARGIN: 0px
}
#khcontent {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H1 {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H2 {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H3 {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H4 {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H5 {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H6 {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent A {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent A:link {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent A:hover {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent A:visited {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
SPAN.red {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent ACRONYM {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#bookmark A {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#bookmark A:hover {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent P {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .kh_note {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
SPAN.red {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent ACRONYM {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
.bookmark A:link {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
.bookmark A:hover {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
SPAN.anchor A {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
SPAN.anchor A:link {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
SPAN.anchor A:hover {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
SPAN.anchor A:visited {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H1 A {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H1 A:link {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H1 A:hover {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H1 A:visited {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H2 A {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H2 A:link {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H2 A:hover {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H2 A:visited {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H3 A {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H3 A:link {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H3 A:hover {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H3 A:visited {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H4 A {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H4 A:link {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H4 A:hover {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H4 A:visited {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
.kh_anchor A {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
.kh_anchor A:link {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
.kh_anchor A:hover {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
.kh_anchor A:visited {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent UL {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent OL {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent LI {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
.kh_anchor A {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
.kh_anchor A:link {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
.kh_anchor A:hover {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
.kh_anchor A:visited {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent_article {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent P {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .kh_note {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
SPAN.red {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent ACRONYM {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent UL {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent OL {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent UL UL {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent UL UL UL {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent UL UL UL UL {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent OL OL {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent OL OL OL {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent OL OL OL OL {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent OL UL {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
UL.kh_longline_list LI {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .kh_anchor A {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .kh_anchor A:link {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .kh_anchor A:hover {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .kh_anchor A:visited {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#kh_print_art_title {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent_category {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .categoryName {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .categoryName H1 {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .categoryName A {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .categoryName A:hover {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .categoryLinks {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .categoryLinks LI {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .kh_category_dots {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent_category IMG {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .hotTopicName {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .hotTopicName H1 {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .hotTopicName A {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .hotTopicName A:hover {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent_article {
	MARGIN-LEFT: auto; WIDTH: 98%; MARGIN-RIGHT: auto; TEXT-ALIGN: left
}
#khcontent {
	MARGIN: 0px auto; FONT: 1em/1.35em Verdana, Arial, Helvetica, sans-serif; WIDTH: 98%; COLOR: #000; LETTER-SPACING: normal
}
#kh_privacy {
	MARGIN: 0px auto; WIDTH: 418px
}
TD {
	FONT: 100%/1.35em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; LETTER-SPACING: normal
}
TABLE {
	FONT: 100%/1.35em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; LETTER-SPACING: normal
}
TABLE TD {
	FONT: 100%/1.35em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; LETTER-SPACING: normal
}
TABLE TR {
	FONT: 100%/1.35em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; LETTER-SPACING: normal
}
TR {
	FONT: 100%/1.35em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; LETTER-SPACING: normal
}
#khcontent H1 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; FONT: bold 1.4em Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: 0px; COLOR: #000; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
#khcontent H2 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; FONT: bold 1.2em Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: 0px; COLOR: #000; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
#khcontent H3 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: -0.8em; PADDING-BOTTOM: 0px; FONT: bold 1.2em Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: 0px; COLOR: #000; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
#khcontent H4 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: -0.9em; PADDING-BOTTOM: 0px; FONT: bold 1em Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: 0px; COLOR: #000; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
#khcontent H5 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 1.1em; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; FONT: bold 1em Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: 0px; COLOR: #000; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
#khcontent H5 A:link {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 1.1em; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; FONT: bold 1em Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
#khcontent H5 A:visited {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 1.1em; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; FONT: bold 1em Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
#khcontent H5 A:hover {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 1.1em; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; FONT: bold 1em Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
#khcontent H6 {
	FONT: bold 0.6em Verdana, Arial, Helvetica, sans-serif; COLOR: #fc0
}
#khcontent P {
	MARGIN: 1em 0px 1.5em; FONT: 1em/1.35em Verdana, Arial, Helvetica, sans-serif; COLOR: #000
}
#khcontent A:link {
	FONT: 100%/1.35em Verdana, Arial, Helvetica, sans-serif; COLOR: #06c; TEXT-DECORATION: none
}
#khcontent A:hover {
	FONT: 100%/1.35em Verdana, Arial, Helvetica, sans-serif; COLOR: #06c; TEXT-DECORATION: none
}
#khcontent A:visited {
	FONT: 100%/1.35em Verdana, Arial, Helvetica, sans-serif; COLOR: #06c; TEXT-DECORATION: none
}
#khcontent A:active {
	FONT: 100%/1.35em Verdana, Arial, Helvetica, sans-serif; COLOR: #06c; TEXT-DECORATION: none
}
#khcontent A:visited {
	COLOR: #09f; TEXT-DECORATION: none
}
#khcontent A:hover {
	COLOR: #06f; TEXT-DECORATION: underline
}
#khcontent .kh_note {
	FONT: 0.8em Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
#khcontent .kh_dots {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/licensees/standard_licensee/images/K_whitedots.gif) no-repeat center 50%; PADDING-BOTTOM: 0px; MARGIN: 1em auto; WIDTH: 95%; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 1px; BORDER-BOTTOM-STYLE: none
}
#khcontent .kh_whitedots {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/licensees/standard_licensee/images/K_whitedots.gif) no-repeat center 50%; PADDING-BOTTOM: 0px; MARGIN: 1em auto; WIDTH: 95%; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 1px; BORDER-BOTTOM-STYLE: none
}
SPAN.red {
	COLOR: red
}
#khcontent ACRONYM {
	CURSOR: help; COLOR: #777; BORDER-BOTTOM: #777 1px dashed; TEXT-DECORATION: none
}
IMG.left {
	CLEAR: both; BORDER-RIGHT: 0px; BORDER-TOP: 0px; FLOAT: left; BORDER-LEFT: 0px; MARGIN-RIGHT: 15px; BORDER-BOTTOM: 0px
}
IMG.right {
	CLEAR: both; BORDER-RIGHT: 0px; BORDER-TOP: 0px; FLOAT: right; MARGIN-LEFT: 15px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
IMG.none {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FLOAT: none; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
OBJECT.left {
	CLEAR: both; BORDER-RIGHT: 0px; BORDER-TOP: 0px; FLOAT: left; BORDER-LEFT: 0px; MARGIN-RIGHT: 15px; BORDER-BOTTOM: 0px
}
OBJECT.right {
	CLEAR: both; BORDER-RIGHT: 0px; BORDER-TOP: 0px; FLOAT: right; MARGIN-LEFT: 15px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
OBJECT.none {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FLOAT: none; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.bookmark A:link {
	
}
.bookmark A:hover {
	
}
P.center_this {
	TEXT-ALIGN: center
}
P.indent_this {
	PADDING-LEFT: 2em
}
SPAN.anchor {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
SPAN.anchor A {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
SPAN.anchor A:link {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
SPAN.anchor A:hover {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
SPAN.anchor A:visited {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H1 A {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H1 A:link {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H1 A:hover {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H1 A:visited {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H2 A {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H2 A:link {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H2 A:hover {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H2 A:visited {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H3 A {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H3 A:link {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H3 A:hover {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H3 A:visited {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H4 A {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H4 A:link {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H4 A:hover {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H4 A:visited {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent A {
	
}
#khcontent UL {
	FONT: 1em/1.35em Verdana, Arial, Helvetica, sans-serif; COLOR: #000
}
#khcontent OL {
	FONT: 1em/1.35em Verdana, Arial, Helvetica, sans-serif; COLOR: #000
}
#khcontent LI {
	FONT: 1em/1.35em Verdana, Arial, Helvetica, sans-serif; COLOR: #000
}
#khcontent UL {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 1.5em
}
#khcontent OL {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 1.5em
}
#khcontent UL UL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT: 1em/1.35em Verdana, Arial, Helvetica, sans-serif
}
#khcontent UL UL UL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT: 1em/1.35em Verdana, Arial, Helvetica, sans-serif
}
#khcontent UL UL UL UL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT: 1em/1.35em Verdana, Arial, Helvetica, sans-serif
}
#khcontent OL OL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT: 1em/1.35em Verdana, Arial, Helvetica, sans-serif
}
#khcontent OL OL OL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT: 1em/1.35em Verdana, Arial, Helvetica, sans-serif
}
#khcontent OL OL OL OL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT: 1em/1.35em Verdana, Arial, Helvetica, sans-serif
}
#khcontent OL UL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT: 1em/1.35em Verdana, Arial, Helvetica, sans-serif
}
UL.kh_longline_list LI {
	MARGIN-BOTTOM: 1.5em; FONT: 1em/1.35em Verdana, Arial, Helvetica, sans-serif; COLOR: #000
}
UL.kh_longline_list {
	MARGIN-BOTTOM: 0px
}
#khcontent UL {
	LIST-STYLE-TYPE: disc
}
#khcontent OL {
	LIST-STYLE-TYPE: decimal
}
#khcontent OL UL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; LIST-STYLE-TYPE: circle
}
#khcontent UL UL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; LIST-STYLE-TYPE: circle
}
#khcontent OL OL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; LIST-STYLE-TYPE: lower-roman
}
#khcontent OL OL OL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; LIST-STYLE-TYPE: lower-alpha
}
#khcontent OL OL OL OL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; LIST-STYLE-TYPE: lower-roman
}
#khcontent UL UL UL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; LIST-STYLE-TYPE: square
}
#khcontent UL UL UL UL LI {
	MARGIN-TOP: 0px; PADDING-LEFT: 1.5em; BACKGROUND: url(/images/kh_images/level_4_bullet.gif) no-repeat left 50%; MARGIN-BOTTOM: 0px; LIST-STYLE-TYPE: none
}
#khcontent .kh_anchor A {
	TEXT-TRANSFORM: none; FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent .kh_anchor A:link {
	TEXT-TRANSFORM: none; FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent .kh_anchor A:hover {
	TEXT-TRANSFORM: none; FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent .kh_anchor A:visited {
	TEXT-TRANSFORM: none; FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#kh_print_art_title {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 1.5em Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: 0px; WIDTH: 100%; COLOR: #000; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: center
}
#khcontent_category {
	MARGIN-LEFT: auto; WIDTH: 98%; MARGIN-RIGHT: auto
}
#khcontent .categoryName {
	PADDING-LEFT: 1px; MARGIN-BOTTOM: -0.8em; FONT: bold 1em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; TEXT-DECORATION: none
}
#khcontent .categoryName H1 {
	PADDING-LEFT: 1px; MARGIN-BOTTOM: -0.8em; FONT: bold 1em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; TEXT-DECORATION: none
}
#khcontent .categoryName A {
	PADDING-LEFT: 1px; MARGIN-BOTTOM: -0.8em; FONT: bold 1em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; TEXT-DECORATION: none
}
#khcontent .categoryName A:hover {
	PADDING-LEFT: 1px; MARGIN-BOTTOM: -0.8em; FONT: bold 1em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; TEXT-DECORATION: none
}
#khcontent .hotTopicName {
	PADDING-LEFT: 1px; FONT: bold 1em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; TEXT-DECORATION: none
}
#khcontent .hotTopicName H1 {
	PADDING-LEFT: 1px; FONT: bold 1em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; TEXT-DECORATION: none
}
#khcontent .hotTopicName A {
	PADDING-LEFT: 1px; FONT: bold 1em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; TEXT-DECORATION: none
}
#khcontent .hotTopicName A:hover {
	PADDING-LEFT: 1px; FONT: bold 1em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; TEXT-DECORATION: none
}
#khcontent .kh_category_dots {
	PADDING-RIGHT: 0px; BORDER-TOP: #69c 1px dotted; PADDING-LEFT: 2px; PADDING-BOTTOM: 0.5em; FONT: bold 1em Verdana, Arial, Helvetica, sans-serif; MARGIN-LEFT: auto; WIDTH: 100%; MARGIN-RIGHT: auto; PADDING-TOP: 0.5em; BORDER-BOTTOM: #69c 1px dotted
}
#khcontent_category IMG {
	DISPLAY: block
}
SPAN.kh_qa_byline {
	PADDING-LEFT: 25px
}
.kh_art_tabs_1 TABLE {
	BACKGROUND: #efefef; MARGIN-LEFT: auto; WIDTH: 402px; MARGIN-RIGHT: auto
}
.kh_art_tabs_1 TABLE {
	FONT: 1em/1.35em verdana, arial, helvetica, sans-serif; HEIGHT: auto
}
.kh_art_tabs_1 TD {
	FONT: 1em/1.35em verdana, arial, helvetica, sans-serif; HEIGHT: auto
}
.kh_art_tabs_1 TD {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; BACKGROUND: #fff; PADDING-BOTTOM: 5px; WIDTH: auto; PADDING-TOP: 5px; TEXT-ALIGN: center
}
#kh_contact_outertable {
	BORDER-RIGHT: #6363ce 1px solid; BORDER-LEFT: #6363ce 1px solid; PADDING-TOP: 15px
}
.kh_contact_textarea {
	BORDER-RIGHT: #6363ce 1px solid; BORDER-TOP: #6363ce 1px solid; BORDER-LEFT: #6363ce 1px solid; WIDTH: 100%; BORDER-BOTTOM: #6363ce 1px solid; HEIGHT: 50px
}
.kh_art_tabs_2 TABLE {
	BACKGROUND: #efefef; MARGIN-LEFT: auto; WIDTH: 402px; MARGIN-RIGHT: auto
}
.kh_art_tabs_2 TABLE {
	FONT: 1em/1.35em verdana, arial, helvetica, sans-serif; VERTICAL-ALIGN: top; HEIGHT: auto
}
.kh_art_tabs_2 TD {
	FONT: 1em/1.35em verdana, arial, helvetica, sans-serif; VERTICAL-ALIGN: top; HEIGHT: auto
}
.kh_art_tabs_2 TD {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; BACKGROUND: #fff; PADDING-BOTTOM: 5px; WIDTH: auto; PADDING-TOP: 5px; TEXT-ALIGN: left
}
.kh_art_tabs_3 TABLE {
	MARGIN-LEFT: auto; WIDTH: 402px; MARGIN-RIGHT: auto
}
.kh_art_tabs_3 TABLE {
	FONT: 1em/1.35em verdana, arial, helvetica, sans-serif; VERTICAL-ALIGN: top; HEIGHT: auto
}
.kh_art_tabs_3 TD {
	FONT: 1em/1.35em verdana, arial, helvetica, sans-serif; VERTICAL-ALIGN: top; HEIGHT: auto
}
.kh_art_tabs_3 TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: auto; PADDING-TOP: 0px; TEXT-ALIGN: center
}
OL.kh_longline_list LI {
	MARGIN-BOTTOM: 1.5em; FONT: 1em/1.35em Verdana, Arial, Helvetica, sans-serif; COLOR: #000
}
OL.kh_longline_list {
	MARGIN-BOTTOM: 0px
}
UL.kh_experts {
	LIST-STYLE-POSITION: outside; MARGIN-LEFT: 5px; LIST-STYLE-TYPE: none
}
UL.kh_experts LI {
	LIST-STYLE-POSITION: outside; MARGIN-LEFT: 5px; LIST-STYLE-TYPE: none
}
UL.kh_experts LI {
	FONT: 1em/1.35em Verdana, Arial, Helvetica, sans-serif; COLOR: #000
}
#kh_experts_nav {
	Z-INDEX: 1000; FLOAT: right; WIDTH: 10px; MARGIN-RIGHT: -27px; POSITION: relative; HEIGHT: auto
}
UNKNOWN {
	MARGIN-RIGHT: 21px
}
#kh_experts_nav UL {
	LIST-STYLE-TYPE: none
}
#kh_experts_nav UL LI {
	BORDER-RIGHT: #777 1px solid; BORDER-TOP: #777 1px solid; Z-INDEX: 1010; BACKGROUND: #fff; MARGIN-BOTTOM: 4px; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #777 0px; WIDTH: 15px; BORDER-BOTTOM: #777 1px solid; POSITION: relative
}
#kh_experts_nav UL LI A:link {
	PADDING-LEFT: 2px; BACKGROUND: #fff; TEXT-TRANSFORM: uppercase
}
#kh_experts_nav UL LI A:visited {
	PADDING-LEFT: 2px; BACKGROUND: #fff; TEXT-TRANSFORM: uppercase
}
#kh_experts_nav UL LI A:hover {
	PADDING-LEFT: 2px; BACKGROUND: #fff; TEXT-TRANSFORM: uppercase
}
#kh_experts_center_all {
	TEXT-ALIGN: center
}
#khcontent IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
#hotTopics {
	MARGIN-LEFT: auto; WIDTH: 98%; MARGIN-RIGHT: auto
}
#hotTopics UL {
	PADDING-LEFT: 10px; MARGIN-LEFT: 0px; LIST-STYLE-TYPE: none
}
#hotTopics INPUT {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BACKGROUND: url(/images/hot_topics_more_button.gif) no-repeat left top; FLOAT: right; FONT: bold 1em verdana, arial, sans-serif; BORDER-LEFT: #fff 1px solid; WIDTH: 60px; CURSOR: pointer; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 20px
}
#hotTopics H1 {
	FONT: bold 1.2em verdana, arial, sans-serif; COLOR: #000
}
#hotTopics UL LI {
	PADDING-LEFT: 0px; MARGIN-BOTTOM: 0.5em; MARGIN-LEFT: 0px
}
#hotTopics LI A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#hotTopics LI A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#hotTopics LI A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#khcontent_category UL LI {
	PADDING-LEFT: 0px; MARGIN-BOTTOM: 0.5em; MARGIN-LEFT: 0px
}
#khcontent_category LI A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#khcontent_category LI A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#khcontent_category LI A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#khcontent_category UL {
	PADDING-LEFT: 10px; MARGIN-LEFT: 0px; LIST-STYLE-TYPE: none
}
.kh_anchor A {
	COLOR: #000! important; TEXT-DECORATION: none! important
}
.kh_anchor A:link {
	COLOR: #000! important; TEXT-DECORATION: none! important
}
.kh_anchor A:visited {
	COLOR: #000! important; TEXT-DECORATION: none! important
}
.kh_anchor A:hover {
	COLOR: #000! important; TEXT-DECORATION: none! important
}
SPAN.kh_anchor:hover {
	COLOR: #000! important; TEXT-DECORATION: none! important
}
A.kh_anchor:hover {
	COLOR: #000! important; TEXT-DECORATION: none! important
}
A:hover SPAN.kh_anchor {
	COLOR: #000! important; TEXT-DECORATION: none! important
}
TD.kh_td_red {
	BACKGROUND: #f00
}
TD.kh_td_amber {
	BACKGROUND: #fc0
}
TD.kh_td_green {
	BACKGROUND: #0d0
}
TD.kh_td_black {
	FONT-WEIGHT: bold; BACKGROUND: #000; COLOR: #fff
}
TD.kh_td_gray {
	FONT-WEIGHT: bold; BACKGROUND: #ccc
}
.printableScreen IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: block; BORDER-LEFT: 0px; WIDTH: 420px; BORDER-BOTTOM: 0px; HEIGHT: 640px
}
.printableScreen {
	TEXT-ALIGN: center
}
.printablePrint IMG {
	DISPLAY: none
}
.instructionSheetScreen IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: block; BORDER-LEFT: 0px; WIDTH: 494px; BORDER-BOTTOM: 0px; HEIGHT: 640px
}
.instructionSheetScreen {
	MARGIN: 0px auto; WIDTH: 494px
}
#khcontent .instructionSheetScreen {
	MARGIN: 0px auto; WIDTH: 494px
}
.instructionSheetPrint IMG {
	DISPLAY: none
}
#branded_wide_width {
	BACKGROUND: #fff; MARGIN: 0px auto; FONT: 12px arial, helvetica, sans-serif; WIDTH: 620px; COLOR: #000; TEXT-ALIGN: center
}
#nemours_branded_footer {
	FONT-SIZE: 10px; MARGIN: 0px auto; WIDTH: 620px; BORDER-BOTTOM: #999 2px solid; HEIGHT: 20px; TEXT-ALIGN: right
}
#licensee_branded_footer {
	TEXT-ALIGN: left
}
#licensee_branded_footer H3 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: -0.8em; PADDING-BOTTOM: 0px; FONT: bold 1.2em Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: 0px; COLOR: #000; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
#toolbar_banner {
	RIGHT: 0px; WIDTH: 150px; POSITION: absolute; TOP: 0px; HEIGHT: 153px
}
#toolbar_banner A {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#toolbar_banner A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#toolbar_banner A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#toolbar_banner A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.kh_awards_table {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 30px; BORDER-LEFT: 0px; WIDTH: 425px; BORDER-BOTTOM: 0px
}
.kh_awards_table TD {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; VERTICAL-ALIGN: top; WIDTH: auto; PADDING-TOP: 15px; HEIGHT: auto; TEXT-ALIGN: left
}
.kh_award_header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; BACKGROUND: #66c; PADDING-BOTTOM: 3px; MARGIN: 0px; VERTICAL-ALIGN: top; WIDTH: 425px; PADDING-TOP: 3px; HEIGHT: 25px
}
.kh_award_header H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 16px! important; BACKGROUND: #66c; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #fff! important; PADDING-TOP: 0px
}
.kh_awards_table IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: block; MARGIN-LEFT: auto; BORDER-LEFT: 0px; MARGIN-RIGHT: auto; BORDER-BOTTOM: 0px
}
#khcontent H1 .kh_anchor:hover {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-WEIGHT: bold; BORDER-LEFT: 0px; COLOR: #000! important; LINE-HEIGHT: normal; BORDER-BOTTOM: 0px; TEXT-DECORATION: none
}
#khcontent H2 .kh_anchor:hover {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-WEIGHT: bold; BORDER-LEFT: 0px; COLOR: #000! important; LINE-HEIGHT: normal; BORDER-BOTTOM: 0px; TEXT-DECORATION: none
}
#khcontent H3 .kh_anchor:hover {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; MARGIN-BOTTOM: -0.8em; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; COLOR: #000! important; LINE-HEIGHT: normal; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-DECORATION: none
}
#khcontent H4 .kh_anchor:hover {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; MARGIN-BOTTOM: -0.9em; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; COLOR: #000! important; LINE-HEIGHT: normal; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-DECORATION: none
}
#khcontent H5 .kh_anchor:hover {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 1.1em; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; COLOR: #000! important; LINE-HEIGHT: normal; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-DECORATION: none
}
.kh_art_chart_1 TABLE {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; MARGIN-TOP: 15px; MARGIN-LEFT: auto; BORDER-LEFT: #ddd 1px solid; MARGIN-RIGHT: auto; BORDER-BOTTOM: #ddd 1px solid
}
.kh_art_chart_1 TABLE {
	VERTICAL-ALIGN: top; HEIGHT: auto
}
.kh_art_chart_1 TD {
	VERTICAL-ALIGN: top; HEIGHT: auto
}
.kh_art_chart_1 TD {
	BORDER-RIGHT: #019bcd 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #019bcd 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 5px; BORDER-LEFT: #019bcd 1px solid; WIDTH: auto; PADDING-TOP: 5px; BORDER-BOTTOM: #019bcd 1px solid; TEXT-ALIGN: left
}
.kh_art_chart_td1 {
	FONT-WEIGHT: bold; COLOR: #009; BACKGROUND-COLOR: #cfc
}
.kh_art_chart_td2 {
	COLOR: #060
}
.kh_art_chart_td3 {
	COLOR: #06c
}
.kh_art_chart_td4 {
	COLOR: #390
}
#kh_edu_partners {
	VERTICAL-ALIGN: top
}
.kh_edu_left {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: top; WIDTH: 130px; PADDING-TOP: 0px; POSITION: absolute; TOP: 0px; TEXT-ALIGN: left
}
.kh_edu_left IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 125px; BORDER-BOTTOM: 0px
}
.kh_edu_right {
	LEFT: 135px; FLOAT: left; WIDTH: 285px; POSITION: relative; TOP: -1px; TEXT-ALIGN: left
}
#khcontent .kh_edu_right H5 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: -1em; PADDING-BOTTOM: 0px; FONT: bold 1.1em Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
.kh_edu_right H5 A:link {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: -1em; PADDING-BOTTOM: 0px; FONT: bold 1.1em Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
.kh_edu_right H5 A:visited {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: -1em; PADDING-BOTTOM: 0px; FONT: bold 1.1em Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
.kh_edu_right H5 A:hover {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: -1em; PADDING-BOTTOM: 0px; FONT: bold 1.1em Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
.edupart {
	POSITION: relative; TOP: 0px
}
.partner_entry {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MIN-HEIGHT: 80px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: auto
}
 HTML .partner_entry {
	HEIGHT: 80px
}
