
a { font-family: Verdana, Arial, Helvetica, sans-serif; color: #990000;}

a:hover {
	color: #990000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}


.copy { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;}

.header1 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #0000000;}

.title { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #990000; font-weight: bold;}

.header { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #003366; font-weight: bold;}

.nav {color: #336699; font-family: Arial, Helvetica, sans-serif;font-size: 10px;}

.copyright {font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000000;}
