/* Style Spec's Default */

body  {
	border: 0px solid #FFFFFF; 
	color: rgb(0,0,0);
	background: rgb(255,255,255) url('../i/m/b/3.jpg') fixed top; 
	scrollbar-face-color:;
	scrollbar-highlight-color:;
	scrollbar-3dlight-color:;
	scrollbar-shadow-color:;
	scrollbar-darkshadow-color:;
	scrollbar-arrow-color:;
	scrollbar-track-color: 
	 }
p            {  }
h1           {  color: rgb(51,102,51)}
h2           {  color: rgb(51,102,51)}
h3           {  color: rgb(51,102,51)}
h4           {  color: rgb(51,102,51)}
h5           {  color: rgb(51,102,51)}
h6           {  color: rgb(51,102,51)}
a            {  }
a:link       {  color: rgb(153,51,51)}
a:visited    {  color: rgb(51,51,153)}
a:active     {  color: rgb(0,102,51)}
a:hover      {  font-variant: small-caps; font-weight: bold}
html         {  }
hr           {  }
sup          {  }
li           {  }
ol           {  }
ul           {  color: #C00000; type: square}
table        {  table-border-color-light: rgb(204,153,102);	table-border-color-dark: rgb(153,102,0); border-color: rgb(153,102,0); color: rgb(0,0,0); padding: 4}
td           {  border-color: rgb(153,102,0)}
textarea     {  border-color: rgb(153,102,0); color: black}
th           {  color: rgb(0,0,0); border-color: rgb(153,102,0)}
tr           {  }
address      {  }
button       {  background-color: rgb(51,102,51); border-color: rgb(204,153,102); color: white}
fieldset     {  border-color: rgb(153,102,0); color: black}
input        {  }
legend       {  color: rgb(51,102,51)}
option       {  }
pre          {  }
select       {  border-color: rgb(153,102,0); color: black}

.top              {  color: #000000; text-align: center}
.topnav           {  padding: 4; border: 1px solid #000000; width: 100%}
.toplinks         {  color: #0000FF; font-size: 10pt}
a:hover.toplinks  {  color: #0066CC; font-size: 10pt}
.bot              {  color: #000000; text-align: center}
.botnav           {  padding: 4; border: 1px solid #000000; width: 100%}
.botlinks         {  color: #0000FF; font-size: 10pt}
a:hover.botlinks  {  color: #0066CC; font-size: 10pt}
.title            {  text-align: left; font-size: 14pt}
.headtable        {  width: 100%; border-style: solid; border-width: 0; padding: 2}
.contacttable     {  width: 100%; border-style: solid; border-width: 0; padding: 2}
.line             {  height: 2px}

/* Style Spec's Computer Central */


/* Style Spec's Careers */

#list        {  color: #000000}

.Section Head {  }
.ProgramHead  {  background-color: #EEEEEE; color: #000000}
.BotNavText   {  background-color: #EEEEEE; padding-bottom: 3; padding-right: 3}
.00Hhideprint {  }
.hideprint    {  }



