/* Style Spec's Default */

body  {
	border: 0px solid #FFFFFF; 
	background: #F5DB9C url('*') no-repeat fixed top; 
	scrollbar-face-color:;
	scrollbar-highlight-color:;
	scrollbar-3dlight-color:;
	scrollbar-shadow-color:;
	scrollbar-darkshadow-color:;
	scrollbar-arrow-color:;
	scrollbar-track-color: 
	 }
p            {  color: #000000; font-size: 12pt; font-family: Times New Roman; text-align: center}
h1           {  }
h2           {  }
h3           {  }
h4           {  }
h5           {  }
h6           {  }
body         {  background-color: #F5DB9C}
a            {  }
a:link       {  }
a:visited    {  }
a:active     {  color: #0000FF}
a:hover      {  }
html         {  }
hr           {  color: #0066CC; height: 2px}
sup          {  }
li           {  }
ol           {  }
ul           {  }
table        {  }
td           {  }
textarea     {  }
th           {  }
tr           {  }
address      {  }
button       {  }
fieldset     {  }
input        {  }
legend       {  }
option       {  }
pre          {  }
select       {  }

.top                {  color: #000000; text-align: center}
.topnav             {  padding: 4; border: 2px solid #000000; width: 100%; background-color: #0039B0}
.toplinks           {  color: #000055; font-size: 10pt}
a:hover.toplinks    {  color: #0066CC; font-size: 10pt}
.sectop             {  color: #000000; text-align: center}
.sectopnav          {  padding: 4; border: 2px solid #000000; width: 100%; background-color: #0039B0}
.sectoplinks        {  color: #000055; font-size: 14pt; text-decoration: none}
a:hover.sectoplinks {  color: #0066CC; font-size: 14pt; text-decoration: none}
.sec                {  color: #000000; text-align: center}
.secnav             {  padding: 4; border: 2px solid #000000; width: 100%; background-color: #0039B0}
.seclinks           {  color: #000055; font-size: 14pt; text-decoration: none}
a:hover.seclinks    {  color: #0066CC; font-size: 14pt; text-decoration: none}
.title              {  color: #0066CC; font-size: 24pt; text-align: center; padding-top: 10}
.titletable         {  border: 0px solid #000000; padding: 2; width: 100%}
.maintable          {  border: 2px solid #000000; padding: 4; width: 100%; background-color: #0039B0}
.mainlinks          {  color: #000055; font-size: 12pt; text-align: center; width: 100%; height: 26}
a:hover.mainlinks   {  color: #0066CC; font-size: 12pt; text-align: center; text-decoration: none}
.maincontent        {  color: #000000; font-size: 12pt; text-align: center}
.backlink           {  color: #000055; font-size: 12pt; text-align: right; width: 99%; height: 18; text-decoration: none}
a:hover.backlink    {  color: #0066CC; font-size: 12pt; text-align: right; width: 99%; height: 18; text-decoration: none}
.gametable          {  border: 1px solid; border-color: #996600; table-border-color-dark: #996600; table-border-color-light: #CC9933; padding: 4; width: 100%}
.gamelinks          {  color: #000055; font-size: 14pt; text-align: center; width: 100%; height: 20}
a:hover.gamelinks   {  color: #0066CC; font-size: 14pt; text-align: center}
.gameletters        {  color: #0066CC; font-size: 20pt; text-align: center}
.gamehardware       {  color: #000000; font-size: 12pt; text-align: center}
.gamedemos          {  color: #000000; font-size: 12pt; text-align: center}
.gamecontent        {  color: #000000; font-size: 12pt; text-align: center}
.contenttable       {  border: 1px solid; border-color: #996600; table-border-color-dark: #996600; table-border-color-light: #CC9933; padding: 4; width: 100%}
.historytable       {  border: 1px solid; border-color: #996600; table-border-color-dark: #996600; table-border-color-light: #CC9933; padding: 4; width: 100%}
.historyalign       {  text-align: center}
.header             {  font-size: 15pt; color: #FF6600; font-family: Times New Roman; text-align: center}
.subheader          {  font-size: 13pt; color: #FFA466; text-decoration: underline; font-family: Times New Roman; text-align: center}
.bot                {  border-style: solid; border-width: 0; padding: 4; text-align: center}
.botnav             {  padding: 2; border: 1px solid #000000; width: 100%}
.botlinks           {  color: #0000FF; font-size: 10pt}
a:hover.botlinks    {  color: #0066CC; font-size: 10pt}
#maincontentcell    {  background-color: #F5DB9C; width: 75%}
#mainlinkcell       {  background-color: #0039B0; width: 25%}
#gameimage          {  width: 135; height: 135; border: 2px solid; border-color: #996600; border-color-dark: #996600; border-color-light: #CC9933}
#secgameimage       {  width: 135; height: 135; border: 2px solid; border-color: #996600; border-color-dark: #996600; border-color-light: #CC9933; float: right}
#gamecell           {  padding-bottom: 10}
#homenetimage       {  width: 96px; height: 38px; text-align: center}
#homenetimagecell   {  padding: 8; text-align: center; background-color: #FFFFFF}

/* Style Spec's Game Information */

.gitop                {  color: #000000; text-align: center}
.gitopnav             {  padding: 4; border: 2px solid #000000; width: 100%; background-color: #0039B0}
.gitoplinks           {  color: #000055; font-size: 10pt}
a:hover.gitoplinks    {  color: #0066CC; font-size: 10pt}
.gibacklink           {  color: #000055; font-size: 12pt; text-align: right; width: 99%; height: 18; text-decoration: none}
a:hover.gibacklink    {  color: #0066CC; font-size: 12pt; text-align: right; width: 99%; height: 18; text-decoration: none}
.gititle              {  color: #0066CC; font-size: 24pt; text-align: center; padding-top: 10}
.gititletable         {  border: 0px solid #000000; padding: 2; width: 100%}
.giphototable         {  border: 1px solid; border-color: #996600; table-border-color-dark: #996600; table-border-color-light: #CC9933; padding: 4; width: 100%}
.giinfotable          {  border: 1px solid; border-color: #996600; table-border-color-dark: #996600; table-border-color-light: #CC9933; padding: 4; width: 100%}
.giheader             {  font-size: 15pt; color: #FFA466; text-decoration: underline; font-family: Times New Roman; text-align: left}
.giphoto              {  width: 175; height: 170; text-align: center; border: 0px solid; border-color: #996600; border-color-dark: #996600; border-color-light: #CC9933}
.gicontent            {  color: #000000; font-size: 12pt; text-align: center}
.gibot                {  border-style: solid; border-width: 0; padding: 4; text-align: center}
.gibotnav             {  padding: 2; border: 1px solid #000000; width: 100%}
.gibotlinks           {  color: #0000FF; font-size: 10pt}
a:hover.gibotlinks    {  color: #0066CC; font-size: 10pt}

/* Style Spec's Game Extra */

.getop                {  color: #000000; text-align: center}
.getopnav             {  padding: 4; border: 2px solid #000000; width: 100%; background-color: #0039B0}
.getoplinks           {  color: #000055; font-size: 10pt}
a:hover.getoplinks    {  color: #0066CC; font-size: 10pt}
.gebacklink           {  color: #000055; font-size: 12pt; text-align: right; width: 99%; height: 18; text-decoration: none}
a:hover.gebacklink    {  color: #0066CC; font-size: 12pt; text-align: right; width: 99%; height: 18; text-decoration: none}
.getitle              {  color: #0066CC; font-size: 24pt; text-align: center; padding-top: 10}
.getitletable         {  border: 0px solid #000000; padding: 2; width: 100%}
.geinfotable          {  border: 1px solid; border-color: #996600; table-border-color-dark: #996600; table-border-color-light: #CC9933; padding: 4; width: 100%}
.gecontent            {  color: #000000; font-size: 12pt; text-align: center}
.gebot                {  border-style: solid; border-width: 0; padding: 4; text-align: center}
.gebotnav             {  padding: 2; border: 1px solid #000000; width: 100%}
.gebotlinks           {  color: #0000FF; font-size: 10pt}
a:hover.gebotlinks    {  color: #0066CC; font-size: 10pt}