/* Online Indicator */
.onlinenow      {  display: block; align: center; width: 100; height: 25}

/* Friend Online Indicators */

#newprofile     {  display: block; background: #FFFFFF url('../i/mc/ph/oni/Fuck%20Myspace.gif')}
#andrewgerst    {  display: block; background: #000000 url('../i/mc/ph/oni/Death2.gif')}
#johngerst      {  display: block; background: #FFFFFF url('../i/mc/ph/oni/Emo%20Online.gif')}
#ginakissell    {  display: block; background: #000000 url('../i/mc/ph/oni/American%20Idiot.gif')}
#derricktisdale {  display: block; background: #000000 url('../i/mc/ph/oni/Screw%20Me.gif')}
#paulmcguigansr {  display: block; background: #000000 url('../i/mc/ph/oni/1.jpg')}
#paulmcguiganjr {  display: block; background: #FFFFFF url('../i/mc/ph/oni/What%20It%20Do.gif')}
#sarahmcguigan  {  display: block; background: #FFFFFF url('../i/mc/ph/oni/O%20My%20Gah.gif')}
#taylorcole     {  display: block; background: #FFFFFF url('../i/mc/ph/oni/Totally%20Loveable.gif')}
#brookecole     {  display: block; background: #FFFFFF url('../i/mc/ph/oni/Fuck%20Myspace.gif')}

