BODY {
	FONT-SIZE: 76%; MARGIN: 0px
}
#khcontent {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H1 {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H2 {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H3 {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H4 {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H5 {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H6 {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent A {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent A:link {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent A:hover {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent A:visited {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
SPAN.red {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent ACRONYM {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#bookmark A {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#bookmark A:hover {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent P {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .kh_note {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
SPAN.red {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent ACRONYM {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
.bookmark A:link {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
.bookmark A:hover {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
SPAN.anchor A {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
SPAN.anchor A:link {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
SPAN.anchor A:hover {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
SPAN.anchor A:visited {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H1 A {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H1 A:link {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H1 A:hover {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H1 A:visited {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H2 A {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H2 A:link {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H2 A:hover {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H2 A:visited {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H3 A {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H3 A:link {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H3 A:hover {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H3 A:visited {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H4 A {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H4 A:link {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H4 A:hover {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent H4 A:visited {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
.kh_anchor A {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
.kh_anchor A:link {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
.kh_anchor A:hover {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
.kh_anchor A:visited {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent UL {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent OL {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent LI {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
.kh_anchor A {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
.kh_anchor A:link {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
.kh_anchor A:hover {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
.kh_anchor A:visited {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent_article {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent P {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .kh_note {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
SPAN.red {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent ACRONYM {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent UL {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent OL {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent UL UL {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent UL UL UL {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent UL UL UL UL {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent OL OL {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent OL OL OL {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent OL OL OL OL {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent OL UL {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
UL.kh_longline_list LI {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .kh_anchor A {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .kh_anchor A:link {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .kh_anchor A:hover {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .kh_anchor A:visited {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#kh_print_art_title {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent_category {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .categoryName {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .categoryName H1 {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .categoryName A {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .categoryName A:hover {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .categoryLinks {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .categoryLinks LI {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .kh_category_dots {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent_category IMG {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .hotTopicName {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .hotTopicName H1 {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .hotTopicName A {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent .hotTopicName A:hover {
	BACKGROUND: #fff; TEXT-TRANSFORM: none
}
#khcontent_article {
	MARGIN-LEFT: auto; WIDTH: 98%; MARGIN-RIGHT: auto
}
#khcontent {
	FONT: 1em/1.5em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; LETTER-SPACING: normal
}
TD {
	FONT: 100%/1.5em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; LETTER-SPACING: normal
}
TABLE {
	FONT: 100%/1.5em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; LETTER-SPACING: normal
}
TABLE TD {
	FONT: 100%/1.5em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; LETTER-SPACING: normal
}
TABLE TR {
	FONT: 100%/1.5em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; LETTER-SPACING: normal
}
TR {
	FONT: 100%/1.5em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; LETTER-SPACING: normal
}
#khcontent H1 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; FONT: bold 1.4em Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: 0px; COLOR: #000; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
#khcontent H2 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; FONT: bold 1.2em Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: 0px; COLOR: #000; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
#khcontent H3 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: -0.8em; PADDING-BOTTOM: 0px; FONT: bold 1.2em Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: 0px; COLOR: #000; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
#khcontent H4 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: -0.9em; PADDING-BOTTOM: 0px; FONT: bold 1em Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: 0px; COLOR: #000; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
#khcontent H5 {
	DISPLAY: none
}
#khcontent H6 {
	FONT: bold 0.6em Verdana, Arial, Helvetica, sans-serif; COLOR: #fc0
}
#khcontent P {
	MARGIN: 1em 0px 1.5em; FONT: 1em/1.4em Verdana, Arial, Helvetica, sans-serif; COLOR: #000
}
#khcontent A:link {
	FONT: 100%/1.4em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; TEXT-DECORATION: none
}
#khcontent A:hover {
	FONT: 100%/1.4em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; TEXT-DECORATION: none
}
#khcontent A:visited {
	FONT: 100%/1.4em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; TEXT-DECORATION: none
}
#khcontent A:active {
	FONT: 100%/1.4em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; TEXT-DECORATION: none
}
#khcontent .kh_note {
	FONT: 0.8em Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
#khcontent .kh_dots {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/licensees/standard_licensee/images/K_whitedots.gif) no-repeat center 50%; PADDING-BOTTOM: 0px; MARGIN: 1em auto; WIDTH: 95%; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 1px; BORDER-BOTTOM-STYLE: none
}
#khcontent .kh_whitedots {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/licensees/standard_licensee/images/K_whitedots.gif) no-repeat center 50%; PADDING-BOTTOM: 0px; MARGIN: 1em auto; WIDTH: 95%; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 1px; BORDER-BOTTOM-STYLE: none
}
SPAN.red {
	COLOR: red
}
#khcontent ACRONYM {
	COLOR: #000; BORDER-BOTTOM: 0px; TEXT-DECORATION: none
}
IMG.left {
	CLEAR: both; BORDER-RIGHT: 0px; BORDER-TOP: 0px; FLOAT: left; BORDER-LEFT: 0px; MARGIN-RIGHT: 15px; BORDER-BOTTOM: 0px
}
IMG.right {
	CLEAR: both; BORDER-RIGHT: 0px; BORDER-TOP: 0px; FLOAT: right; MARGIN-LEFT: 15px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
IMG.none {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FLOAT: none; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
OBJECT.left {
	CLEAR: both; BORDER-RIGHT: 0px; BORDER-TOP: 0px; FLOAT: left; BORDER-LEFT: 0px; MARGIN-RIGHT: 15px; BORDER-BOTTOM: 0px
}
OBJECT.right {
	CLEAR: both; BORDER-RIGHT: 0px; BORDER-TOP: 0px; FLOAT: right; MARGIN-LEFT: 15px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
OBJECT.none {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FLOAT: none; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.bookmark A:link {
	
}
.bookmark A:hover {
	
}
P.center_this {
	TEXT-ALIGN: center
}
P.indent_this {
	PADDING-LEFT: 2em
}
SPAN.anchor {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
SPAN.anchor A {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
SPAN.anchor A:link {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
SPAN.anchor A:hover {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
SPAN.anchor A:visited {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H1 A {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H1 A:link {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H1 A:hover {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H1 A:visited {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H2 A {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H2 A:link {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H2 A:hover {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H2 A:visited {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H3 A {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H3 A:link {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H3 A:hover {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H3 A:visited {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H4 A {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H4 A:link {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H4 A:hover {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent H4 A:visited {
	FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent A {
	FONT: 100%/1.5em Verdana, Arial, Helvetica, sans-serif
}
.kh_anchor A {
	FONT: 100%/1.5em Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.kh_anchor A:link {
	FONT: 100%/1.5em Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.kh_anchor A:hover {
	FONT: 100%/1.5em Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.kh_anchor A:visited {
	FONT: 100%/1.5em Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
#khcontent UL {
	FONT: 1em/1.5em Verdana, Arial, Helvetica, sans-serif; COLOR: #000
}
#khcontent OL {
	FONT: 1em/1.5em Verdana, Arial, Helvetica, sans-serif; COLOR: #000
}
#khcontent LI {
	FONT: 1em/1.5em Verdana, Arial, Helvetica, sans-serif; COLOR: #000
}
#khcontent UL {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 1.5em
}
#khcontent OL {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 1.5em
}
#khcontent UL UL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT: 1em/1.5em Verdana, Arial, Helvetica, sans-serif
}
#khcontent UL UL UL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT: 1em/1.5em Verdana, Arial, Helvetica, sans-serif
}
#khcontent UL UL UL UL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT: 1em/1.5em Verdana, Arial, Helvetica, sans-serif
}
#khcontent OL OL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT: 1em/1.5em Verdana, Arial, Helvetica, sans-serif
}
#khcontent OL OL OL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT: 1em/1.5em Verdana, Arial, Helvetica, sans-serif
}
#khcontent OL OL OL OL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT: 1em/1.5em Verdana, Arial, Helvetica, sans-serif
}
#khcontent OL UL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; FONT: 1em/1.5em Verdana, Arial, Helvetica, sans-serif
}
UL.kh_longline_list LI {
	MARGIN-BOTTOM: 1.5em; FONT: 1em/1.5em Verdana, Arial, Helvetica, sans-serif; COLOR: #000
}
UL.kh_longline_list {
	MARGIN-BOTTOM: 0px
}
#khcontent OL UL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; LIST-STYLE-TYPE: circle
}
#khcontent UL UL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; LIST-STYLE-TYPE: circle
}
#khcontent OL OL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; LIST-STYLE-TYPE: lower-roman
}
#khcontent OL OL OL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; LIST-STYLE-TYPE: lower-alpha
}
#khcontent OL OL OL OL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; LIST-STYLE-TYPE: lower-roman
}
#khcontent UL UL UL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; LIST-STYLE-TYPE: square
}
#khcontent UL UL UL UL LI {
	MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; LIST-STYLE-TYPE: square
}
#khcontent .kh_anchor A {
	TEXT-TRANSFORM: none; FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent .kh_anchor A:link {
	TEXT-TRANSFORM: none; FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent .kh_anchor A:hover {
	TEXT-TRANSFORM: none; FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#khcontent .kh_anchor A:visited {
	TEXT-TRANSFORM: none; FONT-FAMILY: inherit; TEXT-DECORATION: none
}
#kh_print_art_title {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 1.5em Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: 0px; WIDTH: 100%; COLOR: #000; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: center
}
#khcontent_category {
	MARGIN-LEFT: auto; WIDTH: 98%; MARGIN-RIGHT: auto
}
#khcontent .categoryName {
	PADDING-LEFT: 1px; MARGIN-BOTTOM: -0.8em; FONT: bold 1em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; TEXT-DECORATION: none
}
#khcontent .categoryName H1 {
	PADDING-LEFT: 1px; MARGIN-BOTTOM: -0.8em; FONT: bold 1em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; TEXT-DECORATION: none
}
#khcontent .categoryName A {
	PADDING-LEFT: 1px; MARGIN-BOTTOM: -0.8em; FONT: bold 1em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; TEXT-DECORATION: none
}
#khcontent .categoryName A:hover {
	PADDING-LEFT: 1px; MARGIN-BOTTOM: -0.8em; FONT: bold 1em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; TEXT-DECORATION: none
}
#khcontent .hotTopicName {
	PADDING-LEFT: 1px; FONT: bold 1em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; TEXT-DECORATION: none
}
#khcontent .hotTopicName H1 {
	PADDING-LEFT: 1px; FONT: bold 1em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; TEXT-DECORATION: none
}
#khcontent .hotTopicName A {
	PADDING-LEFT: 1px; FONT: bold 1em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; TEXT-DECORATION: none
}
#khcontent .hotTopicName A:hover {
	PADDING-LEFT: 1px; FONT: bold 1em Verdana, Arial, Helvetica, sans-serif; COLOR: #000; TEXT-DECORATION: none
}
#khcontent .categoryLinks {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 1.5em; PADDING-BOTTOM: 0px; MARGIN-LEFT: 9px; PADDING-TOP: 0px
}
#khcontent .categoryLinks LI {
	MARGIN-BOTTOM: 0px; FONT: 1em Verdana, Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
#khcontent .kh_category_dots {
	PADDING-RIGHT: 0px; BORDER-TOP: #69c 1px dotted; PADDING-LEFT: 2px; PADDING-BOTTOM: 0.5em; FONT: bold 1em Verdana, Arial, Helvetica, sans-serif; MARGIN-LEFT: auto; WIDTH: 100%; MARGIN-RIGHT: auto; PADDING-TOP: 0.5em; BORDER-BOTTOM: #69c 1px dotted
}
#khcontent_category IMG {
	DISPLAY: block
}
SPAN.kh_qa_byline {
	PADDING-LEFT: 25px
}
.kh_art_tabs_1 TABLE {
	BACKGROUND: #efefef; MARGIN-LEFT: auto; WIDTH: 402px; MARGIN-RIGHT: auto
}
.kh_art_tabs_1 TABLE {
	FONT: 1em/1.35em verdana, arial, helvetica, sans-serif; HEIGHT: auto
}
.kh_art_tabs_1 TD {
	FONT: 1em/1.35em verdana, arial, helvetica, sans-serif; HEIGHT: auto
}
.kh_art_tabs_1 TD {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; BACKGROUND: #fff; PADDING-BOTTOM: 5px; WIDTH: auto; PADDING-TOP: 5px; TEXT-ALIGN: center
}
#kh_contact_outertable {
	BORDER-RIGHT: #6363ce 1px solid; BORDER-LEFT: #6363ce 1px solid; PADDING-TOP: 15px
}
.kh_contact_textarea {
	BORDER-RIGHT: #6363ce 1px solid; BORDER-TOP: #6363ce 1px solid; BORDER-LEFT: #6363ce 1px solid; WIDTH: 100%; BORDER-BOTTOM: #6363ce 1px solid; HEIGHT: 50px
}
.kh_art_tabs_2 TABLE {
	BACKGROUND: #efefef; MARGIN-LEFT: auto; WIDTH: 402px; MARGIN-RIGHT: auto
}
.kh_art_tabs_2 TABLE {
	FONT: 1em/1.35em verdana, arial, helvetica, sans-serif; VERTICAL-ALIGN: top; HEIGHT: auto
}
.kh_art_tabs_2 TD {
	FONT: 1em/1.35em verdana, arial, helvetica, sans-serif; VERTICAL-ALIGN: top; HEIGHT: auto
}
.kh_art_tabs_2 TD {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; BACKGROUND: #fff; PADDING-BOTTOM: 5px; WIDTH: auto; PADDING-TOP: 5px; TEXT-ALIGN: left
}
OL.kh_longline_list LI {
	MARGIN-BOTTOM: 1.5em; FONT: 1em/1.35em Verdana, Arial, Helvetica, sans-serif; COLOR: #000
}
OL.kh_longline_list {
	MARGIN-BOTTOM: 0px
}
UL.kh_experts {
	LIST-STYLE-POSITION: outside; MARGIN-LEFT: 5px; LIST-STYLE-TYPE: none
}
UL.kh_experts LI {
	LIST-STYLE-POSITION: outside; MARGIN-LEFT: 5px; LIST-STYLE-TYPE: none
}
UL.kh_experts LI {
	FONT: 1em/1.35em Verdana, Arial, Helvetica, sans-serif; COLOR: #000
}
#kh_experts_nav {
	Z-INDEX: 1000; FLOAT: right; WIDTH: 10px; MARGIN-RIGHT: -27px; POSITION: relative; HEIGHT: auto
}
UNKNOWN {
	MARGIN-RIGHT: 21px
}
#kh_experts_nav UL {
	LIST-STYLE-TYPE: none
}
#kh_experts_nav UL LI {
	BORDER-RIGHT: #777 1px solid; BORDER-TOP: #777 1px solid; Z-INDEX: 1010; BACKGROUND: #fff; MARGIN-BOTTOM: 4px; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #777 0px; WIDTH: 15px; BORDER-BOTTOM: #777 1px solid; POSITION: relative
}
#kh_experts_nav UL LI A:link {
	PADDING-LEFT: 2px; BACKGROUND: #fff; TEXT-TRANSFORM: uppercase
}
#kh_experts_nav UL LI A:visited {
	PADDING-LEFT: 2px; BACKGROUND: #fff; TEXT-TRANSFORM: uppercase
}
#kh_experts_nav UL LI A:hover {
	PADDING-LEFT: 2px; BACKGROUND: #fff; TEXT-TRANSFORM: uppercase
}
#kh_experts_center_all {
	TEXT-ALIGN: center
}
#kh_experts_nav UL {
	DISPLAY: none
}
#brand_ww_nav_img {
	DISPLAY: none
}
.printableScreen IMG {
	WIDTH: 0px; HEIGHT: 0px
}
.printablePrint {
	TEXT-ALIGN: center
}
.printablePrint IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: block; BORDER-LEFT: 0px; WIDTH: 5.25in; BORDER-BOTTOM: 0px; HEIGHT: 8in
}
.instructionSheetScreen IMG {
	WIDTH: 0px; HEIGHT: 0px
}
.instructionSheetPrint {
	WIDTH: 620px; TEXT-ALIGN: center
}
.instructionSheetPrint IMG {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: auto; BORDER-LEFT: 0px; WIDTH: 6.18in; MARGIN-RIGHT: auto; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; HEIGHT: 8in
}
#branded_wide_width {
	BACKGROUND: #fff; MARGIN: 0px auto; FONT: 12pt arial, helvetica, sans-serif; WIDTH: 620px; COLOR: #000; TEXT-ALIGN: center
}
#nemours_branded_footer {
	FONT-SIZE: 8pt; MARGIN: 0px auto; WIDTH: 620px; BORDER-BOTTOM: #999 2px solid; HEIGHT: 20px; TEXT-ALIGN: right
}
#licensee_branded_footer {
	TEXT-ALIGN: left
}
#licensee_branded_footer H3 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: -0.8em; PADDING-BOTTOM: 0px; FONT: bold 14pt Verdana, Arial, Helvetica, sans-serif; BORDER-LEFT: 0px; COLOR: #000; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
