BODY {
	FONT-SIZE: 12px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
A {
	COLOR: #cc0000; TEXT-DECORATION: none
}
A:link {
	COLOR: #cc0000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #cc0000
}
A:hover {
	COLOR: #990000; TEXT-DECORATION: underline
}
H1 {
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
H2 {
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
H3 {
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
H4 {
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
H5 {
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
H6 {
	FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
.module-header {
	BORDER-RIGHT: #eef0f1 0px solid; PADDING-RIGHT: 7px; BORDER-TOP: #eef0f1 0px solid; PADDING-LEFT: 7px; FONT-SIZE: 18px; BACKGROUND: #bcc5cc; PADDING-BOTTOM: 3px; MARGIN: 0px; BORDER-LEFT: #eef0f1 0px solid; WIDTH: auto; COLOR: #e0e4e7; LINE-HEIGHT: 1; PADDING-TOP: 10px; BORDER-BOTTOM: #eef0f1 2px solid; LETTER-SPACING: -1px; POSITION: relative
}
.trackbacks-header {
	BORDER-RIGHT: #eef0f1 0px solid; PADDING-RIGHT: 7px; BORDER-TOP: #eef0f1 0px solid; PADDING-LEFT: 7px; FONT-SIZE: 18px; BACKGROUND: #bcc5cc; PADDING-BOTTOM: 3px; MARGIN: 0px; BORDER-LEFT: #eef0f1 0px solid; WIDTH: auto; COLOR: #e0e4e7; LINE-HEIGHT: 1; PADDING-TOP: 10px; BORDER-BOTTOM: #eef0f1 2px solid; LETTER-SPACING: -1px; POSITION: relative
}
.comments-header {
	BORDER-RIGHT: #eef0f1 0px solid; PADDING-RIGHT: 7px; BORDER-TOP: #eef0f1 0px solid; PADDING-LEFT: 7px; FONT-SIZE: 18px; BACKGROUND: #bcc5cc; PADDING-BOTTOM: 3px; MARGIN: 0px; BORDER-LEFT: #eef0f1 0px solid; WIDTH: auto; COLOR: #e0e4e7; LINE-HEIGHT: 1; PADDING-TOP: 10px; BORDER-BOTTOM: #eef0f1 2px solid; LETTER-SPACING: -1px; POSITION: relative
}
.comments-open-header {
	BORDER-RIGHT: #eef0f1 0px solid; PADDING-RIGHT: 7px; BORDER-TOP: #eef0f1 0px solid; PADDING-LEFT: 7px; FONT-SIZE: 18px; BACKGROUND: #bcc5cc; PADDING-BOTTOM: 3px; MARGIN: 0px; BORDER-LEFT: #eef0f1 0px solid; WIDTH: auto; COLOR: #e0e4e7; LINE-HEIGHT: 1; PADDING-TOP: 10px; BORDER-BOTTOM: #eef0f1 2px solid; LETTER-SPACING: -1px; POSITION: relative
}
.archive-header {
	BORDER-RIGHT: #eef0f1 0px solid; PADDING-RIGHT: 7px; BORDER-TOP: #eef0f1 0px solid; PADDING-LEFT: 7px; FONT-SIZE: 18px; BACKGROUND: #bcc5cc; PADDING-BOTTOM: 3px; MARGIN: 0px; BORDER-LEFT: #eef0f1 0px solid; WIDTH: auto; COLOR: #e0e4e7; LINE-HEIGHT: 1; PADDING-TOP: 10px; BORDER-BOTTOM: #eef0f1 2px solid; LETTER-SPACING: -1px; POSITION: relative
}
.module-header A {
	COLOR: #cc0000
}
.module-header A:visited {
	COLOR: #cc0000
}
.trackbacks-header A {
	COLOR: #cc0000
}
.trackbacks-header A:visited {
	COLOR: #cc0000
}
.comments-header A {
	COLOR: #cc0000
}
.comments-header A:visited {
	COLOR: #cc0000
}
.comments-open-header A {
	COLOR: #cc0000
}
.comments-open-header A:visited {
	COLOR: #cc0000
}
.module-header A:hover {
	COLOR: #990000
}
.trackbacks-header A:hover {
	COLOR: #990000
}
.comments-header A:hover {
	COLOR: #990000
}
.comments-open-header A:hover {
	COLOR: #990000
}
.entry-more-link {
	FONT-SIZE: 11px; COLOR: #cc0000
}
.entry-footer {
	FONT-SIZE: 11px; COLOR: #cc0000
}
.comment-footer {
	FONT-SIZE: 11px; COLOR: #cc0000
}
.trackback-footer {
	FONT-SIZE: 11px; COLOR: #cc0000
}
.typelist-thumbnailed {
	FONT-SIZE: 11px; COLOR: #cc0000
}
BODY {
	MIN-WIDTH: 768px; COLOR: #749390; BACKGROUND-COLOR: #f6f7f7
}
#container {
	BACKGROUND: url(container-bg.gif) repeat-y; WIDTH: 768px
}
#container-inner {
	BACKGROUND: url(container-bottom-bg.gif) no-repeat left bottom; PADDING-BOTTOM: 36px
}
#banner {
	BACKGROUND: url(container-top-bg.gif) no-repeat; WIDTH: 768px
}
#banner-inner {
	PADDING-RIGHT: 36px; PADDING-LEFT: 36px; PADDING-BOTTOM: 7px; PADDING-TOP: 28px
}
#banner A {
	COLOR: #cc0000; TEXT-DECORATION: none
}
#banner A:hover {
	COLOR: #990000
}
#banner-header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 24px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #749390; LINE-HEIGHT: 1; PADDING-TOP: 0px; LETTER-SPACING: -1px
}
#banner-description {
	FONT-SIZE: 11px; BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 1px 0px; COLOR: #749390; LINE-HEIGHT: 1.125
}
#pagebody {
	BACKGROUND: url(left-shadow.gif) repeat-y 295px 0px
}
#alpha {
	MARGIN: 0px 1px 0px 36px; WIDTH: 275px
}
#beta {
	WIDTH: 420px
}
#gamma {
	WIDTH: 202px
}
#delta {
	WIDTH: 202px
}
.date-header {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FONT-SIZE: 18px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #f6f7f7; PADDING-TOP: 9px; LETTER-SPACING: -1px; BACKGROUND-COLOR: #993366
}
.entry-header {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #f6f7f7; PADDING-TOP: 7px; BORDER-BOTTOM: #eef0f1 2px solid; BACKGROUND-COLOR: #993366
}
.module-calendar .module-content TABLE {
	FONT-SIZE: 11px
}
.module-photo {
	BACKGROUND: #e1e5e7
}
.module-photo IMG {
	BORDER-RIGHT: #dce1e4 1px solid; BORDER-TOP: #dce1e4 1px solid; BORDER-LEFT: #dce1e4 1px solid; BORDER-BOTTOM: #dce1e4 1px solid
}
.module-powered .module-content {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; BACKGROUND: #bcc5cc; PADDING-BOTTOM: 7px; MARGIN: 15px 0px 1px; COLOR: #fff; PADDING-TOP: 7px
}
.typelist-thumbnailed .module-list-item {
	BORDER-RIGHT: #d9dee1 1px solid; BORDER-TOP: #d9dee1 1px solid; BACKGROUND: #d9dee1; MARGIN: 0px 0px 1px; BORDER-LEFT: #d9dee1 1px solid; BORDER-BOTTOM: #d9dee1 1px solid
}
.typelist-thumbnail {
	BACKGROUND: #fff
}
.module-recent-photos {
	BACKGROUND: #bcc5cc; COLOR: #fff
}
.module-recent-photos .module-content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 0px
}
.module-recent-photos .module-list-item {
	MARGIN: 5px 5px 0px 0px; WIDTH: 64px
}
.module-recent-photos .module-list-item A {
	BORDER-RIGHT: #2ba100 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #2ba100 1px solid; PADDING-LEFT: 1px; BACKGROUND: #fff; PADDING-BOTTOM: 1px; BORDER-LEFT: #2ba100 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #2ba100 1px solid
}
.module-recent-photos .module-list-item A:hover {
	BORDER-LEFT-COLOR: #fff; BACKGROUND: #909fab; BORDER-BOTTOM-COLOR: #fff; BORDER-TOP-COLOR: #fff; BORDER-RIGHT-COLOR: #fff
}
.layout-calendar #banner-header {
	PADDING-RIGHT: 200px
}
.layout-calendar #banner-description {
	PADDING-RIGHT: 200px
}
.layout-calendar #beta {
	OVERFLOW: visible
}
.module-mmt-calendar {
	OVERFLOW: visible; WIDTH: 420px
}
.module-mmt-calendar .module-header {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 18px; RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #bcc5cc; PADDING-TOP: 0px; POSITION: absolute; TOP: -1.25em; HEIGHT: 1.25em; TEXT-ALIGN: right; BORDER-RIGHT-WIDTH: 0px
}
.module-mmt-calendar .module-header A {
	COLOR: #2ba100
}
.module-mmt-calendar .module-header A:visited {
	COLOR: #2ba100
}
.module-mmt-calendar TABLE {
	BACKGROUND: #bcc5cc; COLOR: #fff
}
.module-mmt-calendar TH {
	BORDER-RIGHT: #d0d0d0 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; TEXT-ALIGN: right
}
.module-mmt-calendar TD {
	BORDER-RIGHT: #d0d0d0 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; TEXT-ALIGN: right
}
.weekday-7 {
	BORDER-RIGHT-STYLE: none
}
TD.day-7 {
	BORDER-RIGHT-STYLE: none
}
TD.day-14 {
	BORDER-RIGHT-STYLE: none
}
TD.day-21 {
	BORDER-RIGHT-STYLE: none
}
TD.day-28 {
	BORDER-RIGHT-STYLE: none
}
TD.day-35 {
	BORDER-RIGHT-STYLE: none
}
TD.day-42 {
	BORDER-RIGHT-STYLE: none
}
.day-photo A {
	BORDER-RIGHT: #2ba100 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #2ba100 1px solid; PADDING-LEFT: 1px; BACKGROUND: #fff; PADDING-BOTTOM: 1px; BORDER-LEFT: #2ba100 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #2ba100 1px solid
}
.day-photo A:hover {
	BORDER-LEFT-COLOR: #fff; BACKGROUND: #909fab; BORDER-BOTTOM-COLOR: #fff; BORDER-TOP-COLOR: #fff; BORDER-RIGHT-COLOR: #fff
}
.layout-moblog1 #pagebody {
	BACKGROUND-POSITION: 260px 0px
}
.layout-moblog1 #pagebody-inner {
	BACKGROUND: url(right-shadow.gif) repeat-y 567px 0px
}
.layout-moblog1 #alpha {
	WIDTH: 210px
}
.layout-moblog1 #beta {
	MARGIN: 0px 0px 0px 30px; WIDTH: 289px
}
.layout-moblog1 #gamma {
	MARGIN: 0px 0px 0px 30px; WIDTH: 135px
}
.layout-moblog1 .entry {
	MARGIN-BOTTOM: 40px
}
.layout-moblog1 .module-recent-photos {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.layout-moblog1 .module-recent-photos .module-content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px -10px 0px 0px; PADDING-TOP: 0px
}
.layout-moblog1 .module-recent-photos .module-list {
	BORDER-RIGHT: #f00 1px solid; MARGIN: 0px -10px 0px 0px; WIDTH: 145px
}
.layout-moblog1 .module-recent-photos .module-list-item {
	MARGIN: 7px 7px 0px 0px
}
.layout-moblog2 #pagebody {
	BACKGROUND-POSITION: 99px 0px
}
.layout-moblog2 #pagebody-inner {
	BACKGROUND: url(right-shadow.gif) repeat-y 417px 0px
}
.layout-moblog2 #alpha {
	WIDTH: 64px
}
.layout-moblog2 #beta {
	MARGIN: 0px 0px 0px 15px; WIDTH: 300px
}
.layout-moblog2 #gamma {
	MARGIN: 0px 0px 0px 15px; WIDTH: 200px
}
.layout-moblog2 #delta {
	FLOAT: left; MARGIN: 0px 0px 0px 15px; WIDTH: 84px
}
.layout-moblog2 .module-photo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.layout-moblog2 .module-photo IMG {
	WIDTH: 80px; HEIGHT: auto
}
.layout-moblog2 .module-recent-photos .module-content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.layout-moblog2 .module-recent-photos .module-list {
	MARGIN: 0px
}
.layout-moblog2 .module-recent-photos .module-list-item {
	MARGIN: 0px 0px 5px
}
.layout-timeline #banner-header {
	PADDING-RIGHT: 250px
}
.layout-timeline #banner-description {
	PADDING-RIGHT: 250px
}
.layout-timeline #pagebody {
	BACKGROUND-POSITION: 352px 0px
}
.layout-timeline #alpha {
	WIDTH: 332px
}
.layout-timeline #beta {
	OVERFLOW: visible; WIDTH: 362px
}
.layout-timeline #gamma {
	WIDTH: 172px
}
.layout-timeline #delta {
	WIDTH: 172px
}
.layout-timeline .module-recent-photos .module-header {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 18px; RIGHT: 36px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #bcc5cc; PADDING-TOP: 0px; POSITION: absolute; TOP: -1.25em; HEIGHT: 1.25em; TEXT-ALIGN: right; BORDER-RIGHT-WIDTH: 0px
}
.layout-timeline .module-recent-photos .module-content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 7px; PADDING-BOTTOM: 7px; PADDING-TOP: 0px
}
.layout-timeline .module-recent-photos .module-list-item {
	MARGIN: 7px 7px 0px 0px
}
.layout-one-column #pagebody {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.layout-one-column #alpha {
	WIDTH: 695px
}
.layout-two-column-left #pagebody {
	BACKGROUND-POSITION: 225px 0px
}
.layout-two-column-left #alpha {
	WIDTH: 190px
}
.layout-two-column-left #beta {
	MARGIN: 0px 0px 0px 15px; WIDTH: 490px
}
.layout-two-column-right #pagebody {
	BACKGROUND: url(right-shadow.gif) repeat-y 527px 0px
}
.layout-two-column-right #alpha {
	WIDTH: 490px
}
.layout-two-column-right #beta {
	MARGIN: 0px 0px 0px 15px; WIDTH: 190px
}
.layout-three-column #pagebody {
	BACKGROUND-POSITION: 225px 0px
}
.layout-three-column #pagebody-inner {
	BACKGROUND: url(right-shadow.gif) repeat-y 528px 0px
}
.layout-three-column #alpha {
	WIDTH: 190px
}
.layout-three-column #beta {
	MARGIN: 0px 0px 0px 15px; WIDTH: 285px
}
.layout-three-column #gamma {
	MARGIN: 0px 0px 0px 15px; WIDTH: 190px
}
